<!-- Main -->
<div id="main">
	<!-- Content -->
	<section id="content" class="main">
		<h1><b>투자내역</b></h1><br />

			{{#each transaction}}
			<div>날짜 : {{this.Date}}</div>
			<div>종류 : {{this.Kind}}</div>
			<div>종목 : {{this.coinName}}</div>
			<div>수량 : {{this.coinQuantity}}</div>
			<div>가격 : {{this.coinBuyPrice}}</div>
			<div>수익 : {{this.pricereturn}}</div>
			<div>-------------------------------</div>
			{{/each}}
	</section>
</div>
