
<div>거래 내역</div>
{{#each tra}}
<li>날짜 : {{this.Date}}</li>
<li>종류 : {{this.kind}}</li>
<li>코인명 : {{this.coinname}}</li>
<li>코인 수량 : {{this.coinquantity}}</li>
<li>코인 가격 : {{this.coinbuyprice}}</li>
<div>　</div>
{{/each}}
